body {
	font-family: Go, Lato, Helvetica, Arial, sans-serif;
	background-color: #EEE;
}
pre, code {
	font-family: "Go Mono", Menlo, Consolas, monospace;
}
pre, code {
	font-size: 13px;
}
h2, h3 {
	font-family: "Roboto Condensed", Go, Lato, Helvetica, Arial, sans-serif;
}
h2 {
	color: #666;
	background-color: transparent;
	border-top: 3px solid #C5CAE9;
	border-bottom: 2px solid #C5CAE9;
}
h3 {
	color: #777;
	background-color: #DDD;
	border-left: 3px solid #7CB342;
	padding: 4px 6px;
	font-size: 16px;
}
a[href^="http://"]:after,
a[href^="https://"]:after,
a[href^="//"]:after {
	/* using base64 image here will crash the htmlhelp compiler */
	content: " \261b";
}

div#topbar {
	background-color: #90CAF9;
}
#menu {
	display: none;
}
div#footer {
	border-top: 1px solid #CFD8DC;
	padding-top: 10px;
}
