body {
	font-family: Go, Lato, Helvetica, Arial, sans-serif;
	background-color: #F0F0F0;
	font-size: 90%;
}
pre, code {
	font-family: "Go Mono", Menlo, Consolas, monospace;
	font-size: 90%;
}
pre {
	background-color: #DDD;
}
pre .ln {
	background-color: transparent;
}
h2, h3 {
	font-family: "Roboto Condensed", Go, Lato, Helvetica, Arial, sans-serif;
}
h2 {
	font-size: 130%;
	font-weight: bold;
	color: #666;
	background-color: transparent;
	border-top: 3px solid #C5CAE9;
	border-bottom: 2px solid #C5CAE9;
}
h3 {
	color: #555;
	background-color: #DDD;
	border-left: 3px solid #7CB342;
	padding: 4px 6px;
	font-size: 120%;
}
a[href^="http://"]:after,
a[href^="https://"]:after,
a[href^="//"]:after {
	/* using base64 image here will crash the htmlhelp compiler */
	content: " \261b";
}

div#topbar {
	background-color: #90CAF9;
}
#menu {
	display: none;
}
#manual-nav dl {
	line-height: 1.5;
}
#pkg-index h3 {
	font-size: 110%;
	padding: 7px;
	font-weight: normal;
}
div#footer {
	border-top: 1px solid #CFD8DC;
	padding-top: 10px;
}
